{% load static %}
<html >
<head>

    <title>
        {% block title %}
        basic page
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-primary bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">SMS</a>
    <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        <a class="nav-link" href="{% url 'addstudent' %}">AddStudent</a>
        <a class="nav-link" href="{% url 'displaystudent' %}">DisplayStudent</a>

      </div>
    </div>
  </div>
</nav>
{% block content %}
<h1>from basic html page</h1>


{% endblock %}

</body>
</html>