
{% extends 'basic.html' %}
{% load static %}
 {% block title %}
        home page
 {% endblock %}

{% block content %}
<div class="containe" align="center" >
<div class="card" style="width: 40rem;" >
  <img src="{% static 'images/smsimg.jfif' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Student Management System </h5>
    <p class="card-text">Manages the Student Information </p>
    <a href="{% url 'addstudent' %}" class="btn btn-outline-success">AddStudent</a>
    <a href="{% url 'displaystudent' %}" class="btn btn-outline-info">DisplayStudent</a>
  </div>
</div>
</div>

{% endblock %}